*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (min-width: 125em) {
    html {
      font-size: 90%; } }
  @media only screen and (min-width: 187.5em) {
    html {
      font-size: 110%; } }
  @media only screen and (max-width: 87.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 40%; } }

body {
  color: #fff;
  font-family: "Dancing Script", cursive, "Grandstander", cursive, "Times New Roman", Times, serif;
  font-weight: 300;
  line-height: 1.4; }

.container {
  display: grid;
  grid-template-rows: minmax(min-content, 5rem) 80vh 2vh max-content 10rem;
  grid-template-columns: [left-space-start] 1fr [left-space-end full-start] 45vw [full-center full-center-start] 45vw [full-end right-space-start] 1fr [right-space-end]; }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-rows: minmax(min-content, 5rem) 55vh 68vh 5vh max-content min-content; } }
  @media only screen and (max-width: 31.25em) {
    .container {
      grid-template-rows: minmax(min-content, 5rem) 55vh 50vh 5vh max-content min-content; } }

.nav {
  background-color: #D6AF8C;
  grid-row: 1 / 2;
  grid-column: left-space-start / right-space-end;
  position: fixed;
  width: 100%;
  z-index: 100;
  font-family: "Grandstander", cursive;
  height: 5rem; }
  .nav__list-album {
    text-align: center;
    position: relative;
    top: 25%; }
  .nav__list {
    list-style: none;
    display: grid;
    grid-template-rows: 5rem;
    grid-template-columns: 1fr repeat(3, minmax(max-content, 12rem)) 1fr;
    grid-gap: 10rem;
    align-items: center;
    justify-items: center; }
    @media only screen and (max-width: 56.25em) {
      .nav__list {
        text-align: center;
        display: none; } }
  .nav__link-1 {
    grid-column: 2 / 3; }
  .nav__link-2 {
    grid-column: 3 / 4; }
  .nav__link-3 {
    grid-column: 4 / 5; }
  .nav__link:link, .nav__link:visited {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    transition: all .2s;
    z-index: 10; }
  .nav__link:hover {
    color: #D3D3D3;
    text-decoration: underline; }
  @media only screen and (max-width: 56.25em) {
    .nav__item:hover {
      background-color: #BD9571; } }
  .nav-btn {
    border: none;
    border-radius: 0;
    display: none;
    background-color: #fff;
    height: 3px;
    width: 4rem;
    position: relative;
    margin-top: 3rem;
    left: 50%;
    transform: translate(-50%, -150%); }
    @media only screen and (max-width: 56.25em) {
      .nav-btn {
        display: inline; } }
    .nav-btn::before, .nav-btn::after {
      background-color: #fff;
      height: 3px;
      width: 4rem;
      content: "";
      display: block; }
    .nav-btn::before {
      transform: translateY(-0.8rem); }
    .nav-btn::after {
      transform: translateY(0.3rem); }

.header-1--black {
  font-size: 6rem;
  display: inline-block; }

.header-1--white {
  font-size: 6rem;
  color: #fff; }

.header-2 {
  font-size: 5rem; }

.header-3 {
  font-size: 2.2rem; }

.about {
  grid-row: 2 / 3;
  grid-column: full-center-start / full-end;
  display: grid;
  grid-template-rows: 10rem repeat(3, max-content) 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 3rem;
  color: #000; }
  @media only screen and (max-width: 56.25em) {
    .about {
      grid-column: full-start / full-end;
      grid-template-rows: 2rem repeat(3, max-content);
      margin-top: 2rem; } }
  .about__photo {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    width: 15rem;
    height: 15rem;
    background-color: #000;
    border-radius: 50%;
    box-shadow: 0 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.3); }
  .about__header {
    grid-row: 2 / 3;
    grid-column: 3 / 5;
    align-self: center; }
  .about__text {
    grid-row: 3 / 4;
    grid-column: 1 / -1;
    font-size: 1.6rem;
    font-family: "Grandstander", cursive; }
    @media only screen and (max-width: 68.75em) {
      .about__text {
        grid-column: 2 / -1; } }
    @media only screen and (max-width: 56.25em) {
      .about__text {
        grid-column: 1 / -1; } }
  .about__link {
    grid-row: 4 / 5;
    grid-column: 2 / 4;
    height: 5rem;
    width: 25rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 0.5rem 0.2rem rgba(0, 0, 0, 0.3);
    transition: all .2s; }
    @media only screen and (max-width: 56.25em) {
      .about__link {
        width: 35rem;
        background-color: #D6AF8C; } }
    @media only screen and (max-width: 21.875em) {
      .about__link {
        width: 25rem;
        background-color: #D6AF8C; } }
    .about__link:hover {
      transform: scale(1.05); }

.gallery {
  margin-top: 4rem;
  grid-row: 4 / 5;
  grid-column: full-start / full-end;
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-column-gap: 6rem;
  grid-row-gap: 6rem;
  background-color: #D6AF8C;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 100%); }
  @media only screen and (min-width: 125em) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(43rem, 1fr)); } }
  @media only screen and (min-width: 187.5em) {
    .gallery {
      grid-template-columns: repeat(auto-fit, minmax(48rem, 1fr)); } }
  @media only screen and (max-width: 56.25em) {
    .gallery {
      grid-row: 5 / 6;
      clip-path: none;
      margin-top: 4rem; } }
  .gallery__header {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
    align-items: center;
    display: flex;
    align-content: center;
    padding-left: 8rem;
    margin-top: 5rem; }
  .gallery__link {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
    align-self: center;
    margin-left: 2rem; }

#gallery {
  grid-row: 3 / 4;
  grid-column: left-space-start / right-space-end; }

.footer {
  grid-row: 5 / 6;
  grid-column: left-space-start / right-space-end;
  width: 100%;
  margin-top: 2rem;
  font-family: "Grandstander", cursive; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      grid-row: 6 / 7; } }
  .footer__list {
    display: grid;
    grid-template-rows: 10rem;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 2rem;
    list-style: none; }
  .footer__item {
    text-decoration: none;
    justify-self: center;
    align-self: center; }
  .footer__link:visited, .footer__link:link {
    color: #000;
    text-decoration: none;
    font-size: 2rem;
    text-transform: uppercase;
    text-align: center;
    padding: 1.5rem;
    display: block;
    width: 20rem;
    transition: all .3s; }
  .footer__link:active, .footer__link:hover {
    box-shadow: 0rem 1rem 2rem 0rem rgba(0, 0, 0, 0.5);
    transform: translateY(-0.3rem); }
  .footer__text {
    text-align: center;
    padding: 1rem;
    font-size: 1.6rem;
    color: #000; }

.btn-primary {
  height: 5rem;
  width: 25rem;
  background-color: #D6AF8C;
  color: #fff;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Dancing Script", cursive, "Grandstander", cursive;
  outline: none;
  cursor: pointer;
  transition: all .2s; }
  @media only screen and (max-width: 56.25em) {
    .btn-primary {
      width: 35rem; } }
  @media only screen and (max-width: 21.875em) {
    .btn-primary {
      width: 25rem; } }

.btn-primary:hover {
  transform: scale(1.1); }

.btn-secondary {
  height: 5rem;
  width: 25rem;
  background-color: #fff;
  color: #D6AF8C;
  border: none;
  border-radius: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "Dancing Script", cursive, "Grandstander", cursive;
  outline: none;
  cursor: pointer;
  transition: all .2s; }

.btn-card {
  height: 5rem;
  width: 18rem;
  border: none;
  border-radius: 3rem;
  font-size: 1.6rem;
  font-family: "Grandstander", cursive, "Times New Roman", Times, serif;
  outline: none;
  cursor: pointer;
  transition: all .2s; }
  .btn-card:hover {
    transform: scale(1.1); }
  .btn-card--blue {
    color: #fff;
    background-color: #88c7dc; }
  .btn-card--red {
    color: #fff;
    background-color: #e74f4e; }
  .btn-card--violet {
    color: #fff;
    background-color: #7f00ff; }

.btn-secondary:hover {
  transform: scale(1.1); }

.composition {
  grid-row: 2 / 3;
  grid-column: full-start / full-center;
  align-items: center;
  margin-top: 0rem;
  position: relative;
  height: 60rem; }
  @media only screen and (max-width: 56.25em) {
    .composition {
      grid-row: 3 / 4;
      grid-column: full-start / full-end;
      display: flex;
      flex-direction: column;
      margin-top: 10rem; } }
  @media only screen and (max-width: 31.25em) {
    .composition {
      margin-top: 5rem; } }
  @media only screen and (max-width: 21.875em) {
    .composition {
      margin-top: 8rem;
      height: 50rem; } }
  @media only screen and (max-height: 25em) {
    .composition {
      display: none; } }
  .composition__box {
    margin-top: 5rem;
    margin-left: 5rem;
    text-align: center;
    position: relative;
    height: 50rem;
    width: 45rem;
    top: auto;
    left: auto; }
    @media only screen and (max-width: 56.25em) {
      .composition__box {
        transform: translateY(-7rem); } }
    @media only screen and (max-width: 21.875em) {
      .composition__box {
        width: 30rem;
        height: 40rem;
        margin-left: 0rem; } }
  .composition__logo {
    width: 20rem;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 5rem; }
    @media only screen and (max-width: 56.25em) {
      .composition__logo {
        margin-top: 2rem;
        margin-bottom: 3rem; } }
  .composition__photo {
    position: absolute;
    outline-offset: 1rem;
    box-shadow: 1rem 0.5rem 0.5rem 0 rgba(0, 0, 0, 0.3);
    transition: all .2s; }
    .composition__photo--1 {
      left: 10%;
      top: 0;
      height: 20rem; }
      @media only screen and (max-width: 21.875em) {
        .composition__photo--1 {
          height: 15rem; } }
    .composition__photo--2 {
      left: 0;
      top: 30%;
      height: 20rem; }
      @media only screen and (max-width: 21.875em) {
        .composition__photo--2 {
          height: 15rem; } }
    .composition__photo--3 {
      left: 35%;
      top: 20%;
      height: 35rem; }
      @media only screen and (max-width: 21.875em) {
        .composition__photo--3 {
          height: 25rem; } }
    .composition__photo:hover {
      transform: scale(1.1);
      z-index: 10;
      outline: 1.5rem solid #D6AF8C;
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5); }

.gallery__card {
  display: grid;
  grid-template-rows: 5rem 1fr 5rem;
  color: #000;
  position: relative;
  width: 32rem;
  height: 40rem;
  justify-self: center;
  margin-bottom: 2rem;
  box-shadow: 0 1rem 4rem 0 rgba(0, 0, 0, 0.4);
  border-radius: 1rem;
  font-family: "Dancing Script", cursive, "Grandstander", cursive; }
  .gallery__card-1 {
    background-image: linear-gradient(to right bottom, rgba(17, 132, 232, 0.5), rgba(136, 199, 220, 0.4)), url("../img/card-1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .gallery__card-2 {
    background-image: linear-gradient(to right bottom, rgba(217, 50, 31, 0.7), rgba(231, 79, 78, 0.4)), url("../img/card-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .gallery__card-3 {
    background-image: linear-gradient(to right bottom, rgba(91, 10, 145, 0.7), rgba(127, 0, 255, 0.4)), url("../img/card-3.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
  .gallery__card-link {
    text-decoration: none;
    align-self: center;
    justify-self: center;
    opacity: 0;
    visibility: hidden; }
  .gallery__card:hover .gallery__card-header {
    transition: all .4s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-2rem); }
  .gallery__card:hover .gallery__card-info {
    transition: all .4s;
    opacity: 0;
    visibility: hidden;
    transform: translateY(2rem); }
  .gallery__card:hover .gallery__card-link {
    transition: .3s all .4s;
    opacity: 1;
    visibility: visible; }
  .gallery__card-header {
    margin-top: 2rem;
    text-align: center; }
  .gallery__card-info {
    height: 12rem;
    width: 100%;
    background-color: rgba(188, 123, 123, 0.7);
    position: absolute;
    left: 0;
    bottom: 0; }
  .gallery__card-location {
    margin: 1rem;
    display: flex;
    align-items: center; }
    .gallery__card-location--icon {
      height: 4rem;
      width: 4rem; }
  .gallery__card-num {
    margin: 1rem;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center; }
    .gallery__card-num--icon {
      height: 4rem;
      width: 4rem;
      margin-left: 1rem; }

.album {
  width: auto;
  text-align: center;
  padding-top: 10rem; }
  .album__photo {
    height: 20rem;
    margin: 1rem 1rem 1rem 1rem;
    text-align: center; }
    @media only screen and (max-width: 21.875em) {
      .album__photo {
        height: 12rem; } }
  .album__photo:hover {
    transition: all .4s;
    transform: scale(1.1); }
