$color-primary: #fff;
$color-primary-dark-1: 	#D3D3D3;

$color-secondary: #D6AF8C;
$color-secondary-dark-1: #BD9571;
$color-secondary-dark-2: #BC7B7B;

$color-blue: #1184e8;
$color-blue-light: #88c7dc;

$color-red: #d9321f;
$color-red-light: #e74f4e;

$color-violet: #5b0a91;
$color-violet-light: #7f00ff;

$color-black: #000;

$font-primary: 'Dancing Script', cursive;
$font-secondary: 'Grandstander', cursive;
$font-tertiary: 'Times New Roman', Times, serif;

$bp-largest: 87.5em; //1400px 1400/16 = 87.5em
$bp-large: 68.75em; // 1100px 1100/16 = 68.75em
$bp-medium: 56.25em; //900px 900/16 = 56.25em
$bp-small: 31.25em; //500px 500/16 = 31.25em
$bp-smallest: 21.875em; //350px 350/16 = 21.875em


*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }

    @media only screen and (max-width: $bp-small) {
        font-size: 40%;
    }
}

body {
    color: $color-primary;
    font-family: $font-primary, $font-secondary, $font-tertiary;
    font-weight: 300;
    line-height: 1.4;
}

.container {
    display: grid;
    grid-template-rows: minmax(min-content, 5rem) 80vh 2vh max-content 10rem;
    grid-template-columns: [left-space-start] 1fr [left-space-end full-start] 45vw [full-center full-center-start] 45vw [full-end right-space-start] 1fr [right-space-end];


    

    @media only screen and (max-width: $bp-medium) {
        grid-template-rows: minmax(min-content, 5rem) 55vh 68vh 5vh max-content min-content;  
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-rows: minmax(min-content, 5rem) 55vh 50vh 5vh max-content min-content;
    }
    

    
}

