$color-primary: #fff;
$color-primary-dark-1: 	#D3D3D3;

$color-secondary: #D6AF8C;
$color-secondary-dark-1: #BD9571;
$color-secondary-dark-2: #BC7B7B;

$color-blue: #1184e8;
$color-blue-light: #88c7dc;

$color-red: #d9321f;
$color-red-light: #e74f4e;

$color-violet: #5b0a91;
$color-violet-light: #7f00ff;

$color-black: #000;

$font-primary: 'Dancing Script', cursive;
$font-secondary: 'Grandstander', cursive;
$font-tertiary: 'Times New Roman', Times, serif;



*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    color: $color-primary;
    font-family: $font-primary, $font-secondary, $font-tertiary;
    font-weight: 300;
    line-height: 1.4;
}

.container {
    display: grid;
    grid-template-rows: minmax(min-content, 5rem) 90vh 2vh max-content 10rem;
    grid-template-columns: [left-space-start] calc((100vw - 92vw) / 2) [left-space-end full-start] 45vw [full-center full-center-start] 45vw [full-end right-space-start] calc((100vw - 92vw) / 2) [right-space-end];
}

