.header-1--black {
    font-size: 6rem;
    display: inline-block;
}

.header-1--white {
    font-size: 6rem;
    color: $color-primary;
}

.header-2 {
    font-size: 5rem;
}

.header-3 {
    font-size: 2.2rem;
}